/* ====================================================================================
 *  Project: Single Page Website
 *  Author: Andrzej Kałowski
 *  $id: base.scss
 *  =================================================================================== */

/* Common - Base ====================================================================== */

body {
  background: $main-background-color;
  font-family: $primary-font;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $main-color;
  * {
    box-sizing: border-box;
  }
  a:hover {
    text-decoration: none;
  }
}

hr {
  border: 0px;
 }

a {
  font-size:  $main-font-size;
	line-height: $main-line-height;
	text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}